.movie-selector .movie-selector-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media (min-width: 768px) {

    .movie-selector .movie-selector-head .movie-selector-counter {
        height: 50px;
    }
    
}

@media (max-width: 320px) {

    .movie-selector .movie-selector-head .movie-selector-generate-button {
        margin: 10px 0 0;
        width: 100%;
    }

    .movie-selector .movie-selector-head .movie-selector-btn {
        text-align: center;
        width: 100%;
    }

}

.movie-selector .movie-selector-body ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0;
}

.movie-selector .movie-selector-body ul li {
    position: relative;
    padding: 10px 10px 10px 30px;
    height: 95px;
    border: 1px solid #636363;
    margin: 5px 0;
    display: flex;
    align-items: center;
    background: #aeaeae;
    color: #414141;
    width: 100%;
}
.movie-selector .movie-selector-body ul li input[type=checkbox] {
    top: 50%;
    left: 7px;
    margin: -6px 0 0;
    position: absolute;
}

@media (min-width: 768px) {

    .movie-selector .movie-selector-body ul li {
        width: 24%;
    }

}