.movie-result .movie-result-body ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0;
}

.movie-result .movie-result-body ul li {
    position: relative;
    padding: 10px 10px 10px 30px;
    height: 95px;
    border: 1px solid #636363;
    margin: 5px 0;
    display: flex;
    align-items: center;
    background: #aeaeae;
    color: #414141;
    width: 100%;
}
.movie-result .movie-result-body ul li input[type=checkbox] {
    top: 50%;
    left: 7px;
    margin: -6px 0 0;
    position: absolute;
}