* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #262626;
  color: white;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.main-header {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  max-height: 350px;
  background: url('/background.jpg') black center right no-repeat;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.main-header-bg {
  box-sizing: border-box;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
}

.main-header-content {
  max-width: 450px;
}

.main-header h1 a {
  color: white;
  text-decoration: none;
}

.main-content {
  margin: 10px 0;
}

.main-content > .wrapper {
  padding: 20px;
}

.btn {
  text-decoration: none;
  display: inline-block;
  color: #aeaeae;
  background: #434343;
  padding: 15px;
  text-align: center;
  border: 1px solid #636363;
}

.btn:hover {
  background: #4f4f4f;
}